<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="bower_components/angular/angular.js"></script>
    <script src="script.js"></script>
    <title>Angular JS</title>
    <style>
        .done {
            text-decoration: line-through;
        }
    </style>
</head>

<body ng-app="appPoec">
    <div ng-controller="poecCtrl">
        <div>
            {{todoList}}
            <ul>
                <li ng-class="{ 'done' :list.done}" ng-repeat="list in todoList">
                    <input type="checkbox" value="true" ng-model="list.done"> {{list.name}}
                </li>
            </ul>
            <button ng-click="archiver()">Archiver</button>
            <input type="text" ng-model="newTodo">
            <button ng-click="add()">add</button>
        </div>
    </div>
    <div ng-controller="autreCtrl">
        {{user.lastname}}
    </div>
</body>

</html>
